<br><br><br>
<% if !picture.title.empty? %>
  <%= picture.title %> <br>
<% end %>
<%= picture.location.title %> <br>
<%= picture.location.address %> <br>

<a href="<%= user_picture_path(current_user, picture) %>"><%= image_tag picture.avatar.url %></a>
<% if current_user == picture.user %>
  <%= button_to "edit", edit_picture_path(picture), method: :get %>
  <%= button_to "delete", picture_path(picture), method: :delete%>

<% end %>
<br><br><br>
